header {
    background-color: #000000;
}
h1 {
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    background-color: black;
}

.footerText {
    color: white;
}

.input {
    margin: 10px 10px 10px 10px;
}