html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 19px;
    width: 100%;
    line-height: 1.75;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    height: 10%;
    text-align: center;
    padding: 1%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background: url('../common/images/room7.jpg') no-repeat center center fixed;
    background-size: cover;
}

.icon {
    width: 10%;
    display: inline-block;
    margin-left: 2%;
    right: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}

header nav ul li a:first-child {
    margin-left: 0;
}

header nav ul li a:hover {
    color: #555;
}

.choose {
    pointer-events: none;
    color: #986948;
}

.container {
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    margin: 110px auto 0;
}

h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="submit"] {
    background: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    z-index: 2;
}

input[type="submit"]:hover {
    background: #555;
}


input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
select,
input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
input[type="file"] {
    width: 93.5%;
}

select {
    width: 100%;
}

.container a {
    text-decoration: none;
    color: black;
}

.gender-container {
    display: flex;
    align-items: center;
}

.gender-container a {
    margin-right: 20px;
}

.gender {
    display: flex;
    align-items: center;
}

.gender input[type="radio"] {
    margin-right: 70px;
}


.error-message {
    color: red;
    display: none;
}

@media (max-device-width: 480px) {
    header {
        height: 5%;
    }

    header nav ul li a {
        font-size: 32px;
    }

}

@media (max-device-width: 480px) {
    header {
        height: 5%;
    }

    header nav ul li a {
        font-size: 40px;
    }

    .container {
        width: 50%;
        top: 45%;
        font-size: 40px;
    }

    input {
        font-size: 30px;
    }
}